.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 10px 65px; /* Asegura un buen espaciado del menú fijo */
    min-height: 60vh; /* Asegura que ocupe el espacio central */
    background-color: var(--second-color); /* Puedes cambiar el fondo */
}

.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    margin-top: 15px;
    font-weight: 500;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-container button {
    width: 100%;
    padding: 12px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}

.login-container button:hover {
    background-color: #e55a1c;
}

.register-link {
    margin-top: 15px;
}

.register-link a {
    color: var(--primary-color);
    text-decoration: none;
}

