@media (max-width: 768px) {

    .hero {
        margin-top: 68px;
    }

    .galeria-ctn {
        height: 30vh;
    }

    .swiper {
        height: 100%;
        width: 100%;
    }

    .swiper-slide img {
        width: 100%;
        height: 100%;
        /* object-fit: fill; */
        /*Para que ocupe el 100% pero ajustando al contenedor*/
        object-fit: cover;
        /*para que la imagen se recorte y se vea mejor*/
    }


    /*////////////////////////////////////*/
    .informacion {
        padding: 3rem 1rem;
        cursor: pointer;
    }

    .container {
        max-width: 99%;
        margin: 0 auto;
    }

    .icon {
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
    }

    /*//////////////////////////////*/
    .productos-ctn {
        max-width: 90%;
        margin: auto;
    }

    .products-cards {
        justify-content: center;
    }


}