/* Para pantallas más pequeñas (móviles) */
@media (max-width: 768px) {


    /*Ocultamos el Menu Superior*/
    .menu-sup {
        display: none;
    }

    /*Aumentamos el tamaño del menu inferior y le damos
    una pocicion relativa para poder pocicionar los elementos
    internos*/
    .menu-inf {
        height: 68px;
        position: relative;
    }

    /*aumentamos el ancho del segundo contenedor
    para que los elementos no esten muy pegados a la pantalla*/
    .menu-inf-ctn {
        max-width: 98%;
    }

    /*Colocamos el menu perfil en posicion absoluta para pocicionar
    los iconos en el medio top 0 para que este centro en el eje y 
    y left 40 para centrar en el eje x*/
    .menu-perfil {
        position: absolute;
        left: 40%;
        top: 0%;
    }

    /*Menu dp donde estan los links tambien en absolute y los links en
    columna originalmente ocultos con top y left lo pocicionamos al centro 
    y al 100% de ancho*/
    .menu-dp {
        background-color: rgb(218, 218, 218);
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        padding: 20px 0;
        border-radius: 0 0 15px 15px;
    }

    /*que el menu ya aparezca extendido*/
    .dropdown-menu {
        display: block;
        position: relative;
    }

    .menu-dp.active {
        display: flex;
    }

    .menu-dp>li>a {
        padding: 2px 15px;

    }

    .dropdown-menu {
        border-radius: 0px;
        border: 1px solid #ffffff;
        box-shadow: none;
        margin: 5px 10px;
        border-radius: 5px;
        padding-left: 15px;
    }

    /*menu hamburguesa e icono,*/

    .menu-hamburger {
        display: none;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        position: absolute;
        z-index: 100;
        right: 5%;
    }

    .menu-hamburger span {
        background-color: #000;
        height: 3px;
        width: 25px;
        border-radius: 3px;
    }

    .menu-hamburger {
        display: flex;
    }

    .dropdown-icon {
        display: none;
    }


    /*//////////////////////////////////////////////////*/
    /*//////////////////////////////////////////////////*/
    /*/////////////Fin del Menu Responsivo//////////////*/
    /*//////////////////////////////////////////////////*/
    /*//////////////////////////////////////////////////*/
    footer {
        display: none;
    }
}